# **Machine Learning -: Decision Tree**
----------
---------

- ### Import required Libraries

In [1]:
import pandas as pd

- ### Loading the Dataset

In [2]:
df = pd.read_csv("E:\Data Science Notes\8.MACHINE LEARNING\salaries\salaries.csv")

In [3]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

- ### Doing some **EDA**

In [4]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
df.tail()

     company                  job     degree  salary_more_then_100k
11  facebook      sales executive    masters                      1
12  facebook     business manager  bachelors                      1
13  facebook     business manager    masters                      1
14  facebook  computer programmer  bachelors                      1
15  facebook  computer programmer    masters                      1

In [6]:
df.shape

(16, 4)

In [7]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [8]:
df.describe()

       salary_more_then_100k
count                 16.000
mean                   0.625
std                    0.500
min                    0.000
25%                    0.000
50%                    1.000
75%                    1.000
max                    1.000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 644.0+ bytes

In [10]:
df.isna().sum()

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

- ### Apply some Condition

#### Filter rows where company is 'google'

In [11]:
cond = df['company'] == 'google'
df[cond]

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0
5  google  computer programmer    masters                      1

- ### Filter rows where company is 'google' and job is 'sales executive'

In [12]:
cond2 = df[(df["company"] == "google") & (df["job"] == "sales executive")]

print(cond2)

  company              job     degree  salary_more_then_100k
0  google  sales executive  bachelors                      0
1  google  sales executive    masters                      0

- ### Filter rows where company is 'google' and job is 'business manager' and degree is 'masters'

In [13]:
cond = df[(df["company"] == 'google') & (df["job"] == "sales executive") & (df['degree'] == 'masters')]

print(cond)

  company              job   degree  salary_more_then_100k
1  google  sales executive  masters                      0

- ### Filter rows where company is 'google' or 'facebook' and job is 'business manager' and degree is 'masters'

In [14]:
cond = df[((df["company"] == 'google') | (df["company"] == 'facebook')) & (df["job"] == "sales executive") & (df['degree'] == 'masters')]

print(cond)

     company              job   degree  salary_more_then_100k
1     google  sales executive  masters                      0
11  facebook  sales executive  masters                      1

- ### Data Prepartion

In [15]:
X = df.drop('salary_more_then_100k', axis = 'columns')
y = df['salary_more_then_100k']

In [16]:
print(X.head())

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [17]:
print(y.head())

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

- ### Transforming Data **Categorical** into **integer** by feature engineering

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()

In [20]:
X['company_n'] = le.fit_transform(X['company'])    # Adding new columns and also assign value

X['job_n'] = le.fit_transform(X['job'])            # Adding new columns and also assign value

X['degree_n'] = le.fit_transform(X['degree'])      # Adding new columns and also assign value

In [21]:
print(X)

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

- ### Again Data Preparation

In [22]:
new_X =  X.drop(['company', 'job', 'degree'], axis='columns').values

new_y = df.salary_more_then_100k.values

print(new_X)

[[2 2 0]
 [2 2 1]
 [2 0 0]
 [2 0 1]
 [2 1 0]
 [2 1 1]
 [0 2 1]
 [0 1 0]
 [0 0 0]
 [0 0 1]
 [1 2 0]
 [1 2 1]
 [1 0 0]
 [1 0 1]
 [1 1 0]
 [1 1 1]]

In [23]:
new_y

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

- ### Model Creation

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
model = DecisionTreeClassifier()

- ### Model Training

In [26]:
model.fit(new_X, new_y)

DecisionTreeClassifier()

In [27]:
new_X

array([[2, 2, 0],
       [2, 2, 1],
       [2, 0, 0],
       [2, 0, 1],
       [2, 1, 0],
       [2, 1, 1],
       [0, 2, 1],
       [0, 1, 0],
       [0, 0, 0],
       [0, 0, 1],
       [1, 2, 0],
       [1, 2, 1],
       [1, 0, 0],
       [1, 0, 1],
       [1, 1, 0],
       [1, 1, 1]])

In [28]:
new_y

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

- ### Check model score

In [29]:
model.score(new_X,new_y)

1.0

- ### model Predicton

In [30]:
print(model.predict([[2, 1, 0]]))     # google ,computer programmer ,bachelors

[0]

In [31]:
print(model.predict([[0, 1, 0]]))    # abc pharma , computer programmer , bachelors

[0]

In [32]:
print(model.predict([[2, 1, 1]]))    # google , computer programmer , masters

[1]

In [33]:
print(model.predict([[1, 1, 0]]))    # facebook  computer programmer  bachelors

[1]

In [35]:
 print(model.predict([[2,0,1]]))      # google     business manager    masters

[1]